/* HEADER */
.header {
  background-color: #fff;
  text-align: center;
  padding: 10px;
  justify-content: center;
}

/* CARDS */
html,
body {
  height: 100%;
}
body {
  display: grid;
  font-family: Avenir, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
.tariffCards {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -140px;
  user-select: none;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
}
.tariffCards:after {
  position: absolute;
  bottom: -27px;
  left: 5%;
  content: "";
  width: 65%;
  height: 10px;
  border-radius: 100%;
  background-image: radial-gradient(
    rgba(34, 50, 84, 0.04),
    rgba(34, 50, 84, 0)
  );
}
.tariffCards > div {
  position: relative;
  width: 280px;
  height: 140px;
  border-radius: 12px;
  color: #fff;
  transform: rotateX(45deg) rotateY(-15deg) rotate(45deg);
  transition: all 0.4s ease;
  overflow: hidden;
  cursor: pointer;
}
.tariffCards > div:after {
  position: absolute;
  top: -70px;
  left: 0;
  content: "";
  width: 200%;
  height: 200%;
  background-image: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0) 80%
  );
  transform: translateX(-100%);
}
.tariffCards > div h3 {
  position: absolute;
  bottom: 28px;
  left: 15px;
  font-size: 18px;
  font-weight: 800;
}
.tariffCards > div span {
  position: absolute;
  font-weight: 700;
  bottom: 15px;
  left: 15px;
  font-size: 16px;
  opacity: 0.8;
}
.tariffCards > div.first {
  margin-top: -30px;
  z-index: 3;
  background-color: #3f58e3;
  background-image: linear-gradient(135deg, #6774ff, #3f58e3);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #6774ff;
}
.tariffCards > div.second {
  margin-top: -70px;
  z-index: 2;
  background-color: #6774ff;
  background-image: linear-gradient(135deg, #8b90ff, #6774ff);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #8b90ff;
}
.tariffCards > div.third {
  margin-top: -70px;
  z-index: 1;
  background-color: #8b90ff;
  background-image: linear-gradient(135deg, #aeaeff, #8b90ff);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #aeaeff;
}
.tariffCards > div.fourth {
  margin-top: -70px;
  background-color: #aeaeff;
  background-image: linear-gradient(135deg, #d1cdff, #aeaeff);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #d1cdff;
}
.tariffCards > div:hover {
  transform: rotateX(30deg) rotateY(-15deg) rotate(30deg) translate(-25px, 50px);
}
.tariffCards > div:hover:after {
  transform: translateX(100%);
  transition: all 1.2s ease-in-out;
}
a:link {
  color: #fff;
  font-weight: 700;
  bottom: 15px;
  left: 15px;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
}

/* BUTTONS */
.button {
  margin-top: 25px;
  overflow: hidden;
  height: 25px;
  padding: 15px;
  display: flex;
  width: max-content;
  margin: auto;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;

  color: #fff;
  border: 0 none;
  border-radius: 12px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  font-family: Avenir, sans-serif;

  justify-content: center;
  align-items: center;

  box-shadow: 2px 5px 10px #e4e4e4;
}
.button:hover {
  transition: all 150ms linear;

  opacity: 0.85;
}

.button:active {
  transition: all 150ms linear;
  opacity: 0.75;
}

.button:focus {
  outline: 1px dotted black;
  outline-offset: -4px;
}

.button.-dark {
  color: #ffffff;
  background: #3f58e3;
}

.button.-dark:focus {
  outline: 1px dotted white;
  outline-offset: -4px;
}
